;; Analyzed by ClojureScript 1.7.228
{:use-macros nil, :excludes #{}, :name om-next-frontend.util, :imports {XhrIo goog.net.XhrIo}, :requires {om om.next, om.next om.next, t cognitect.transit, cognitect.transit cognitect.transit, XhrIo goog.net.XhrIo}, :uses nil, :defs {transit-post {:protocol-inline nil, :meta {:file "/home/daniel/code/om-next-frontend/src/om_next_frontend/util.cljs", :line 6, :column 7, :end-line 6, :end-column 19, :arglists (quote ([url]))}, :name om-next-frontend.util/transit-post, :variadic false, :file "/home/daniel/code/om-next-frontend/src/om_next_frontend/util.cljs", :end-column 19, :method-params ([url]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 6, :end-line 6, :max-fixed-arity 1, :fn-var true, :arglists (quote ([url]))}}, :require-macros {om om.next, om.next om.next}, :cljs.analyzer/constants {:seen #{:remote}, :order [:remote]}, :doc nil}